# Gradle
.gradle/
.gradle-local/
build/
*/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store

# Android generated
captures/
.externalNativeBuild/
.cxx/

# APK / AAB outputs
*.apk
*.aab
*.idsig

# Logs
*.log
